DATABASE_URL="postgresql://neondb_owner:npg_98ZdsuQvVthn@ep-crimson-forest-anodxzq2.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="krishnanshu_secret_123"
PORT=4000
FRONTEND_URL="http://localhost:5173"